samples/sample-vacation-webapp/src/main/resources/wsdl/activiti-integration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
 Copyright (c) 2015-2016 Linagora

 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 2.1 of the License, or (at your
 option) any later version.

 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
 for more details.

 You should have received a copy of the GNU Lesser General Public License
 along with this program/library; If not, see http://www.gnu.org/licenses/
 for the GNU Lesser General Public License version 2.1.
-->
<wsdl:definitions xmlns:activiti="http://petals.ow2.org/components/activiti/generic/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActivitiGenericWsdl" targetNamespace="http://petals.ow2.org/components/activiti/generic/1.0"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
         targetNamespace="http://petals.ow2.org/components/activiti/generic/1.0">

         <xsd:element name="getTasks">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="active" type="xsd:boolean" maxOccurs="1" minOccurs="0" default="true">
                     <xsd:annotation>
                        <xsd:documentation>
                           The task state (true=active, false=inactive/completed). Default value: true.
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="assignee" type="xsd:string" maxOccurs="1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>The user as candidate or assignee</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="process-instance-identifier" type="xsd:string" maxOccurs="1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Identifier of the process instance of tasks to retrieve</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="process-definition-identifier" type="xsd:string" maxOccurs="1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Identifier of the process definition of tasks to retrieve</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="task-definition-identifier" type="xsd:string" maxOccurs="1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Definition identifier of the tasks to retrieve</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="getTasksResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="tasks" type="activiti:Tasks" maxOccurs="1" minOccurs="1" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:complexType name="Tasks">
            <xsd:sequence>
               <xsd:element name="task" type="activiti:Task" maxOccurs="unbounded" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="Task">
            <xsd:attribute name="process-definition-identifier" type="xsd:string" use="required" />
            <xsd:attribute name="process-instance-identifier" type="xsd:string" use="required" />
            <xsd:attribute name="task-identifier" type="xsd:string" use="required" />
         </xsd:complexType>

         <xsd:element name="getProcessInstances">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="state" type="activiti:ProcessInstanceState" maxOccurs="1" minOccurs="0" default="active">
                     <xsd:annotation>
                        <xsd:documentation>
                           The state of process instances to select. Default value: 'active'.
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="process-definition-identifier" type="xsd:string" maxOccurs="1"
                     minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Identifier of the process definition of the process instances to retrieve
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="process-instance-identifier" type="xsd:string" maxOccurs="1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Identifier of the process instance to retrieve</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         
         <xsd:simpleType name="ProcessInstanceState">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="active" />
               <xsd:enumeration value="suspended" />
               <xsd:enumeration value="finished" />
            </xsd:restriction>
         </xsd:simpleType>

         <xsd:element name="getProcessInstancesResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="process-instances" type="activiti:ProcessInstances" maxOccurs="1"
                     minOccurs="1" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="suspendProcessInstances">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="process-instance-identifier" type="xsd:string" maxOccurs="unbounded" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Identifier of a process instance to suspend</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="suspendProcessInstancesResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="process-instance-identifier" maxOccurs="unbounded" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Identifier of the process instance suspended</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:string">
                              <xsd:attribute name="result" type="activiti:AdjournmentResult"/>
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         
         <xsd:simpleType name="AdjournmentResult">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="suspended" />
               <xsd:enumeration value="not-found" />
               <xsd:enumeration value="already-suspended" />
            </xsd:restriction>
         </xsd:simpleType>

         <xsd:element name="activateProcessInstances">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="process-instance-identifier" type="xsd:string" maxOccurs="unbounded" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Identifier of a process instance to activate</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="activateProcessInstancesResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="process-instance-identifier" maxOccurs="unbounded" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Identifier of the process instance activated</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:string">
                              <xsd:attribute name="result" type="activiti:ActivationResult"/>
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         
         <xsd:simpleType name="ActivationResult">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="activated" />
               <xsd:enumeration value="not-found" />
               <xsd:enumeration value="already-activated" />
            </xsd:restriction>
         </xsd:simpleType>

         <xsd:complexType name="ProcessInstances">
            <xsd:sequence>
               <xsd:element name="process-instance" type="activiti:ProcessInstance" maxOccurs="unbounded"
                  minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ProcessInstance">
            <xsd:sequence>
               <xsd:element name="variables" type="activiti:Variables" maxOccurs="1" minOccurs="0" />
            </xsd:sequence>
            <xsd:attribute name="process-definition-identifier" type="xsd:string" use="required" />
            <xsd:attribute name="process-instance-identifier" type="xsd:string" use="required" />
         </xsd:complexType>
         <xsd:complexType name="Variables">
            <xsd:sequence>
               <xsd:element name="variable" type="activiti:Variable" maxOccurs="unbounded" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="Variable">
            <xsd:simpleContent>
               <xsd:extension base="xsd:string">
                  <xsd:attribute name="name" type="xsd:string" use="required">
                     <xsd:annotation>
                        <xsd:documentation>
                           Represents a variable with its name and value. If the variable type is
                           'java.util.Date', the value is given as 'xsd:date', otherwise the value is given as 'String'.
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         
         <xsd:element name="invalidRequest">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="message" type="xsd:string" maxOccurs="1" minOccurs="1" />
                  <xsd:element name="stacktrace" type="xsd:string" maxOccurs="1" minOccurs="0" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

      </xsd:schema>
   </wsdl:types>

   <!-- Message Part -->
   <wsdl:message name="invalidRequest">
      <wsdl:part name="fault" element="activiti:invalidRequest" />
   </wsdl:message>
   <wsdl:message name="getTasksRequest">
      <wsdl:part name="getTasksRequest" element="activiti:getTasks" />
   </wsdl:message>
   <wsdl:message name="getTasksResponse">
      <wsdl:part name="getTasksResponse" element="activiti:getTasksResponse" />
   </wsdl:message>
   <wsdl:message name="getProcessInstancesRequest">
      <wsdl:part name="getProcessInstancesRequest" element="activiti:getProcessInstances" />
   </wsdl:message>
   <wsdl:message name="getProcessInstancesResponse">
      <wsdl:part name="getProcessInstancesResponse" element="activiti:getProcessInstancesResponse" />
   </wsdl:message>
   <wsdl:message name="suspendProcessInstancesRequest">
      <wsdl:part name="suspendProcessInstancesRequest" element="activiti:suspendProcessInstances" />
   </wsdl:message>
   <wsdl:message name="suspendProcessInstancesResponse">
      <wsdl:part name="suspendProcessInstancesResponse" element="activiti:suspendProcessInstancesResponse" />
   </wsdl:message>
   <wsdl:message name="activateProcessInstancesRequest">
      <wsdl:part name="activateProcessInstancesRequest" element="activiti:activateProcessInstances" />
   </wsdl:message>
   <wsdl:message name="activateProcessInstancesResponse">
      <wsdl:part name="activateProcessInstancesResponse" element="activiti:activateProcessInstancesResponse" />
   </wsdl:message>

   <wsdl:portType name="Task">
      <wsdl:operation name="getTasks">
         <wsdl:input message="activiti:getTasksRequest" />
         <wsdl:output message="activiti:getTasksResponse" />
         <wsdl:fault message="activiti:invalidRequest" name="invalidRequest" />
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:portType name="ProcessInstances">
      <wsdl:operation name="getProcessInstances">
         <wsdl:input message="activiti:getProcessInstancesRequest" />
         <wsdl:output message="activiti:getProcessInstancesResponse" />
         <wsdl:fault message="activiti:invalidRequest" name="invalidRequest" />
      </wsdl:operation>
      <wsdl:operation name="suspendProcessInstances">
         <wsdl:input message="activiti:suspendProcessInstancesRequest" />
         <wsdl:output message="activiti:suspendProcessInstancesResponse" />
         <wsdl:fault message="activiti:invalidRequest" name="invalidRequest" />
      </wsdl:operation>
      <wsdl:operation name="activateProcessInstances">
         <wsdl:input message="activiti:activateProcessInstancesRequest" />
         <wsdl:output message="activiti:activateProcessInstancesResponse" />
         <wsdl:fault message="activiti:invalidRequest" name="invalidRequest" />
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="TaskServiceSoapBinding" type="activiti:Task">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="getTasks">
         <soap:operation soapAction="http://petals.ow2.org/components/activiti/generic/1.0/getTasks" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="invalidRequest">
            <soap:fault name="invalidRequest" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:binding name="ProcessInstancesServiceSoapBinding" type="activiti:ProcessInstances">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="getProcessInstances">
         <soap:operation soapAction="http://petals.ow2.org/components/activiti/generic/1.0/getProcessInstances" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="invalidRequest">
            <soap:fault name="invalidRequest" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="suspendProcessInstances">
         <soap:operation soapAction="http://petals.ow2.org/components/activiti/generic/1.0/suspendProcessInstances" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="invalidRequest">
            <soap:fault name="invalidRequest" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="activateProcessInstances">
         <soap:operation soapAction="http://petals.ow2.org/components/activiti/generic/1.0/activateProcessInstances" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="invalidRequest">
            <soap:fault name="invalidRequest" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   
	<!--
		This section must be overridden at the SU definition and the matching
		Service and
	-->
   <wsdl:service name="TaskService">
      <wsdl:port name="autogenerate" binding="activiti:TaskServiceSoapBinding">
         <soap:address location="autogenerate" />
      </wsdl:port>
   </wsdl:service>
   <wsdl:service name="ProcessInstancesService">
      <wsdl:port name="autogenerate" binding="activiti:ProcessInstancesServiceSoapBinding">
         <soap:address location="autogenerate" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>