src/test/resources/su/multi-start/coreService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2017-2026 Linagora
 
 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 2.1 of the License, or (at your
 option) any later version.
 
 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
 for more details.
 
 You should have received a copy of the GNU Lesser General Public License
 along with this program/library; If not, see http://www.gnu.org/licenses/
 for the GNU Lesser General Public License version 2.1.
-->
<wsdl:definitions name="coreService" targetNamespace="http://petals.ow2.org/se-flowable/unit-test/multi-start/coreService"
   xmlns:tns="http://petals.ow2.org/se-flowable/unit-test/multi-start/coreService" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   <wsdl:types>
      <xsd:schema targetNamespace="http://petals.ow2.org/se-flowable/unit-test/multi-start/coreService"
         elementFormDefault="qualified">
         <xsd:element name="execute">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="order-id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                  <xsd:element name="customer" type="xsd:string" minOccurs="1" maxOccurs="1" />
                  <xsd:element name="approved-by" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="address" minOccurs="1" maxOccurs="1" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="executeResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="item" type="xsd:string" minOccurs="1" maxOccurs="1" />
                  <xsd:element name="item2" type="xsd:string" minOccurs="0" maxOccurs="1" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

      </xsd:schema>
   </wsdl:types>

   <wsdl:message name="executeRequest">
      <!-- TODO: JAX-WS Wrapped mode is mandatory. We could be able to work with Bare mode-->
      <wsdl:part name="parameters" element="tns:execute" />
   </wsdl:message>
   <wsdl:message name="executeResponse">
      <wsdl:part name="parameters" element="tns:executeResponse" />
   </wsdl:message>

   <wsdl:portType name="core">
      <wsdl:operation name="execute">
         <wsdl:input name="executeRequest" message="tns:executeRequest" />
         <wsdl:output name="executeResponse" message="tns:executeResponse" />
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="coreServiceSoapBinding" type="tns:core">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="execute">
         <soap:operation soapAction="http://petals.ow2.org/samples/services/notify" />
         <wsdl:input name="executeRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="executeResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="coreServiceXmlBinding" type="tns:core" xmlns:xmlformat="http://cxf.apache.org/bindings/xformat">
      <xmlformat:binding />
      <wsdl:operation name="execute">
         <wsdl:input name="executeRequest" />
         <wsdl:output name="executeResponse" />
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="coreService">
      <!-- TODO: We should use an XML binding instead of SOAP binding to avoid to rework SOAP envelop on requests/replies
                 exchanged between Flowable and Petals -->
      <wsdl:port name="coreServiceEndpointName" binding="tns:coreServiceSoapBinding">
         <!-- TODO: Trouver un formalisme pour l'URL Petals: "petals:///interfacename[:servicename[:endpointname]]" -->
         <soap:address location="petals:///{http://petals.ow2.org/samples/se-bpmn/multi-start/coreService}core" />
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>