src/main/resources/component.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
 Copyright (c) 2015 Linagora

 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 2.1 of the License, or (at your
 option) any later version.

 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
 for more details.

 You should have received a copy of the GNU Lesser General Public License
 along with this program/library; If not, see <http://www.gnu.org/licenses/>
 for the GNU Lesser General Public License version 2.1.
-->
<wsdl:definitions xmlns:activiti="http://petals.ow2.org/components/activiti/generic/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActivitiGenericWsdl" targetNamespace="http://petals.ow2.org/components/activiti/generic/1.0"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
         targetNamespace="http://petals.ow2.org/components/activiti/generic/1.0">

         <xsd:element name="getTasks">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="active" type="xsd:boolean" maxOccurs="1" minOccurs="0" default="true">
                     <xsd:annotation>
                        <xsd:documentation>The task state (true=active, false=inactive/completed). Default value: true
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="assignee" type="xsd:string" maxOccurs="1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>The user as candidate or assignee</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="getTasksResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="tasks" type="activiti:Tasks" maxOccurs="1" minOccurs="1" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:complexType name="Tasks">
            <xsd:sequence>
               <xsd:element name="task" type="activiti:Task" maxOccurs="unbounded" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="Task">
            <xsd:attribute name="process-definition-identifier" type="xsd:string" />
            <xsd:attribute name="process-instance-identifier" type="xsd:string" />
            <xsd:attribute name="task-identifier" type="xsd:string" />
            <xsd:attribute name="assignee" type="xsd:string" />
         </xsd:complexType>

      </xsd:schema>
   </wsdl:types>

	<!-- Message Part -->
   <wsdl:message name="getTasksRequest">
      <wsdl:part name="getTasksRequest" element="activiti:getTasks" />
   </wsdl:message>
   <wsdl:message name="getTasksResponse">
      <wsdl:part name="getTasksResponse" element="activiti:getTasksResponse" />
   </wsdl:message>

   <wsdl:portType name="ActivitiGeneric">
      <wsdl:operation name="getTasks">
         <wsdl:input message="activiti:getTasksRequest" />
         <wsdl:output message="activiti:getTasksResponse" />
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="ActivitiServiceSoapBinding" type="activiti:ActivitiGeneric">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="getTasks">
         <soap:operation soapAction="http://petals.ow2.org/components/activiti/generic/1.0/getTasks" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
	<!--
		This section must be overridden at the SU definition and the matching
		Service and
	-->
   <wsdl:service name="ActivitiGenericService">
      <wsdl:port name="autogenerate" binding="activiti:ActivitiServiceSoapBinding">
         <soap:address location="autogenerate" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
