src/main/resources/FlowableSEextensions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2014-2020 Linagora
 
 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 2.1 of the License, or (at your
 option) any later version.
 
 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
 for more details.
 
 You should have received a copy of the GNU Lesser General Public License
 along with this program/library; If not, see http://www.gnu.org/licenses/
 for the GNU Lesser General Public License version 2.1.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://petals.ow2.org/components/petals-se-flowable/1.0"
   xmlns:petalsCDK="http://petals.ow2.org/components/extensions/version-5" xmlns:petals-se-flowable="http://petals.ow2.org/components/petals-se-flowable/1.0"
   elementFormDefault="qualified">
   <xs:import namespace="http://petals.ow2.org/components/extensions/version-5" schemaLocation="CDKextensions.xsd" />

	<!--
	Element for the SU configuration
	-->
    <!-- Flowable provide configuration -->
   <xs:element name="tenand_id" type="petalsCDK:settablestring" default="myTenant">
      <xs:annotation>
         <xs:documentation>The tenant in which the processes will be deployed</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="category_id" type="petalsCDK:settablestring" default="myCategory">
      <xs:annotation>
         <xs:documentation>The category that will characterize the processes (e.g. Dev, Test, prod ...)
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="process_file" type="petalsCDK:File">
      <xs:annotation>
         <xs:documentation>BPMN 2.0 File providing the xml process definitions</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="version" type="petalsCDK:settablestring" default="1">
      <xs:annotation>
         <xs:documentation>The version of the process definitions</xs:documentation>
      </xs:annotation>
   </xs:element>
		
	<!--
	  Element for the Component petals-se-flowable configuration
	-->
	<!-- Flowable DataBase configuration elements -->
   <xs:element name="jdbc_driver" type="petalsCDK:settablestring" default="org.h2.Driver">
      <xs:annotation>
         <xs:documentation>Implementation of the driver for the specific database type</xs:documentation>
         <xs:documentation xml:lang="fr">Implémentation du driver pour le type de base de données
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="jdbc_url" type="petalsCDK:settablestring" default="jdbc:h2:mem:flowable;DB_CLOSE_DELAY=1000">
      <xs:annotation>
         <xs:documentation>jdbcUrl: JDBC URL of the database</xs:documentation>
         <xs:documentation xml:lang="fr">URL JDBC de la base de données</xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="jdbc_username" type="petalsCDK:settablestring" default="sa">
      <xs:annotation>
         <xs:documentation>username to connect to the database</xs:documentation>
         <xs:documentation xml:lang="fr">utilisateur de connexion à la base de données</xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="jdbc_password" type="petalsCDK:settablestring" default="">
      <xs:annotation>
         <xs:documentation>password to connect to the database</xs:documentation>
         <xs:documentation xml:lang="fr">mot de passe de connexion à la base de données</xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="jdbc_max_active_connections" type="petalsCDK:settableint" default="10">
      <xs:annotation>
         <xs:documentation>The number of active connections that the connection pool at maximum at any time can contain
         </xs:documentation>
         <xs:documentation xml:lang="fr">Nombre de connexions actives simultanées que le pool de connexion
            peut accepter au maximum
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="jdbc_max_idle_connections" type="petalsCDK:settableint">
      <xs:annotation>
         <xs:documentation>The number of idle connections that the connection pool at maximum at any time can contain
         </xs:documentation>
         <xs:documentation xml:lang="fr">Nombre de connexions inactives simultanées que le pool de connexion
            peut accepter au maximum
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="jdbc_max_checkout_time" type="petalsCDK:settableint" default="20000">
      <xs:annotation>
         <xs:documentation>The amount of time in milliseconds a connection can be 'checked out' from the connection pool
            before it is forcefully returned
         </xs:documentation>
         <xs:documentation xml:lang="fr">Durée en millisecondes avant qu'une connexion soit 'vérifiée' du
            pool de connexion avant d'être renvoyé de force
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="jdbc_max_wait_time" type="petalsCDK:settableint" default="20000">
      <xs:annotation>
         <xs:documentation>This is a low level setting that gives the pool a chance to print a log status and re-attempt
            the acquisition of a connection in the case that it’s taking unusually long
         </xs:documentation>
         <xs:documentation xml:lang="fr">Paramètre de bas niveau qui donne au pool une chance pour imprimer
            un état ​​de journal et re-tenter l'acquisition d'une connexion dans le cas où elle est exceptionnellement
            longue
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="database_type" type="petals-se-flowable:DatabaseType" default="h2">
      <xs:annotation>
         <xs:documentation>Should only be specified in case automatic detection fails. Possible values:
            (h2/mysql/oracle/postgres/mssql/db2)
         </xs:documentation>
         <xs:documentation xml:lang="fr">Doit être précisé en cas de non fonctionnement de la détection
            automatique. Valeurs possibles: (h2/mysql/oracle/postgres/mssql/db2)
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="database_schema_update" type="petals-se-flowable:DatabaseSchemaUpdate" default="false">
      <xs:annotation>
         <xs:documentation>Allows to set the strategy to handle the database schema on process engine boot and shutdown
         </xs:documentation>
         <xs:documentation xml:lang="fr">Permet de définir la stratégie pour gérer le schéma de base de
            données lors du démarrage et l'arrêt du moteur de processus
         </xs:documentation>
      </xs:annotation>
   </xs:element>	

	
	<!-- TYPES -->
   <xs:simpleType name="DatabaseType">
      <xs:restriction base="petalsCDK:settablestring">
         <xs:enumeration value="h2" />
         <xs:enumeration value="mysql" />
         <xs:enumeration value="oracle" />
         <xs:enumeration value="postgres" />
         <xs:enumeration value="mssql" />
         <xs:enumeration value="db2" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="DatabaseSchemaUpdate">
      <xs:restriction base="petalsCDK:settablestring">
         <xs:enumeration value="false">
            <xs:annotation>
               <xs:documentation>Checks the version of the DB schema against the library when the process engine is
                  being created and throws an exception if the versions don't match.
               </xs:documentation>
               <xs:documentation xml:lang="fr">Vérifie la version du schéma DB à la bibliothèque lorsque le
                  moteur de processus est en cours de création et lève une exception si les versions ne correspondent
                  pas.
               </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="true">
            <xs:annotation>
               <xs:documentation>Upon building the process engine, a check is performed and an update of the schema is
                  performed if it is necessary. If the schema doesn't exist, it is created.
               </xs:documentation>
               <xs:documentation xml:lang="fr">Lors de la construction du moteur de processus, une
                  vérification est effectuée et une mise à jour du schéma est effectuée si cela est nécessaire. Si le
                  schéma n'existe pas, il est créé.
               </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="create-drop">
            <xs:annotation>
               <xs:documentation>Creates the schema when the process engine is being created and drops the schema when
                  the process engine is being closed.
               </xs:documentation>
               <xs:documentation xml:lang="fr">Crée le schéma lors de la construction du moteur de processus
                  et détruit le schéma quand le moteur de processus est arrêté.
               </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>

   <xs:element name="engine-enable-job-executor" type="petalsCDK:settableboolean" default="true">
      <xs:annotation>
         <xs:documentation>Enable/Disable the job executor of Flowable engine.</xs:documentation>
         <xs:documentation xml:lang="fr">Active/Désactive le job executor du moteur Flowable
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="engine-job-executor-core-pool-size" type="petalsCDK:settableint" default="2">
      <xs:annotation>
         <xs:documentation>Core pool size of the Flowable engine job executor.</xs:documentation>
         <xs:documentation xml:lang="fr">Core pool size du job executor du moteur Flowable
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="engine-job-executor-max-pool-size" type="petalsCDK:settableint" default="10">
      <xs:annotation>
         <xs:documentation>Max pool size of the Flowable engine job executor.</xs:documentation>
         <xs:documentation xml:lang="fr">Max pool size du job executor du moteur Flowable</xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="engine-job-executor-keep-alive-time" type="petalsCDK:settablelong" default="5000">
      <xs:annotation>
         <xs:documentation>Keep alive time, in milliseconds, of idle threads of the Flowable engine job executor.
         </xs:documentation>
         <xs:documentation xml:lang="fr">Keep alive time, en milli-secondes, des threads idles du job
            executor du moteur Flowable
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="engine-job-executor-queue-size" type="petalsCDK:settableint" default="100">
      <xs:annotation>
         <xs:documentation>Queue size of the Flowable engine job executor.</xs:documentation>
         <xs:documentation xml:lang="fr">Taille de la queue du job executor du moteur Flowable
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="engine-job-executor-max-timer-jobs-per-acquisition" type="petalsCDK:settableint"
      default="1">
      <xs:annotation>
         <xs:documentation>Max number of timer jobs that are fetched from the database in one query by the Flowable
            async job executor.
         </xs:documentation>
         <xs:documentation xml:lang="fr">Nombre maximal de jobs 'timer' pouvant être obtenus en une seule
            requête en base de données par le job executor du moteur Flowable.
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="engine-job-executor-max-async-jobs-due-per-acquisition" type="petalsCDK:settableint"
      default="1">
      <xs:annotation>
         <xs:documentation>Max number of asynchronous jobs due that are fetched from the database in one query by the
            Flowable async job executor.
         </xs:documentation>
         <xs:documentation xml:lang="fr">Nombre maximal de jobs 'asynchrones' terminés pouvant être obtenus
            en une seule requête en base de données par le job executor du moteur Flowable.
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="engine-job-executor-async-job-acquire-wait-time" type="petalsCDK:settablelong"
      default="10000">
      <xs:annotation>
         <xs:documentation>The time, in milliseconds, between asynchronous jobs due queries being executed by the
            Flowable async job executor.
         </xs:documentation>
         <xs:documentation xml:lang="fr">Durée, en milli-secondes, entre les obtentions de jobs
            'asynchrones' terminés par le job executor du moteur Flowable.
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="engine-job-executor-timer-job-acquire-wait-time" type="petalsCDK:settablelong" default="10000">
      <xs:annotation>
         <xs:documentation>The time, in milliseconds, between timer jobs queries being executed by the Flowable async
            job executor.
         </xs:documentation>
         <xs:documentation xml:lang="fr">Durée, en milli-secondes, entre les obtentions de jobs 'timer' par
            le job executor du moteur Flowable.
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="engine-job-executor-timer-lock-time" type="petalsCDK:settablelong" default="300000">
      <xs:annotation>
         <xs:documentation>The time, in milliseconds, that a timer job is locked before being retried again by the
            Flowable async job executor. The Flowable engine considers the timer job to have failed after this period of
            time and will retry.
         </xs:documentation>
         <xs:documentation xml:lang="fr">Durée, en milli-secondes, qu'un job 'timer' est locké avant d'être
            rejoué par le job executor du moteur Flowable. Le moteur Flowable considère qu'un job 'timer' échoue lorsque
            cette période de temps arrive à échéance, et réessaie.
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="engine-job-executor-async-job-lock-time" type="petalsCDK:settablelong" default="300000">
      <xs:annotation>
         <xs:documentation>The time, in milliseconds, that an asynchronous job is locked before being retried again by
            the Flowable async job executor. The Flowable engine considers the timer job to have failed after this
            period of time and will retry.
         </xs:documentation>
         <xs:documentation xml:lang="fr">Durée, en milli-secondes, qu'un job 'asynchrone' est locké avant
            d'être rejoué par le job executor du moteur Flowable. Le moteur Flowable considère qu'un job 'timer' échoue
            lorsque cette période de temps arrive à échéance, et réessaie.
         </xs:documentation>
      </xs:annotation>
   </xs:element>


   <xs:element name="engine-enable-bpmn-validation" type="petalsCDK:settableboolean" default="true">
      <xs:annotation>
         <xs:documentation>Enable/Disable the BPMN validation on process deployments into the Flowable engine.
         </xs:documentation>
         <xs:documentation xml:lang="fr">Active/Désactive la validation BPMN des processus déployés dans le
            moteur Flowable.
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   
   <xs:element name="engine-default-failed-job-wait-time" type="petalsCDK:settableint" default="true">
      <xs:annotation>
         <xs:documentation>The default failed job wait time in seconds.</xs:documentation>
         <xs:documentation xml:lang="fr">Temps d'attente par défaut entre deux essais d'un job en erreur, en secondes</xs:documentation>
      </xs:annotation>
   </xs:element>
   
   <xs:element name="engine-async-failed-job-wait-time" type="petalsCDK:settableint" default="true">
      <xs:annotation>
         <xs:documentation>The async failed job wait time in seconds.</xs:documentation>
         <xs:documentation xml:lang="fr">Temps d'attente par défaut entre deux essais d'un job asynchrone en erreur, en secondes</xs:documentation>
      </xs:annotation>
   </xs:element>
   
    <xs:element name="engine-rest-api-enable" type="petalsCDK:settableboolean" default="true">
      <xs:annotation>
         <xs:documentation>Enable/Disable the Flowable SE REST API </xs:documentation>
         <xs:documentation xml:lang="fr">Active/Désactive l'API REST du Flowable SE 
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   
   <xs:element name="engine-rest-api-access-group" type="petalsCDK:settablestring" default="admin">
      <xs:annotation>
         <xs:documentation>Define the user group who can use the Flowable SE REST API </xs:documentation>
         <xs:documentation xml:lang="fr">Défini le groupe d'utilisateurs qui peuvent utiliser l'API REST du Flowable SE
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   
      <xs:element name="engine-rest-api-address" type="petalsCDK:settablestring" default="0.0.0.0">
      <xs:annotation>
         <xs:documentation>Define the address to access to Flowable SE REST API</xs:documentation>
         <xs:documentation xml:lang="fr">Défini l'adresse à laquelle on peut accéder à l'API REST du Flowable SE 
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   
         <xs:element name="engine-rest-api-port" type="petalsCDK:settableint" default="8089">
      <xs:annotation>
         <xs:documentation>Define the port number to access to Flowable SE REST API </xs:documentation>
         <xs:documentation xml:lang="fr">Défini le numéro de port sur lequel l'API REST du Flowable SE écoute
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="idm-engine-configurator-class-name" type="petalsCDK:settablestring" default="true">
      <xs:annotation>
         <xs:documentation>Define the IDM engine configurator to push into Flowable engine.</xs:documentation>
         <xs:documentation xml:lang="fr">Défini le configurateur du moteur de gestion des identités à utiliser avec le moteur Flowable
         </xs:documentation>
      </xs:annotation>
   </xs:element>

   <xs:element name="idm-engine-configurator-config-file" type="petalsCDK:settablestring" default="true">
      <xs:annotation>
         <xs:documentation>Define the configuration file of the IDM engine configurator</xs:documentation>
         <xs:documentation xml:lang="fr">Défini le fichier de configuration du configurateur du moteur de gestion des identités 
         </xs:documentation>
      </xs:annotation>
   </xs:element>

</xs:schema>