samples/su-SOAP-archiveService-provide/src/main/jbi/archiveService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2014-2017 Linagora
 
 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 2.1 of the License, or (at your
 option) any later version.
 
 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
 for more details.
 
 You should have received a copy of the GNU Lesser General Public License
 along with this program/library; If not, see http://www.gnu.org/licenses/
 for the GNU Lesser General Public License version 2.1.
-->
<!-- ======================== DEFINITION ==================================== -->
<wsdl:definitions name="archiveService"
   targetNamespace="http://petals.ow2.org/samples/se-bpmn/archiveService"

   xmlns:archiveService="http://petals.ow2.org/samples/se-bpmn/archiveService"
   xmlns:vacationRequest="http://petals.ow2.org/samples/se-bpmn/vacationRequest"
   
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   <!-- ======================== TYPES ========================================== -->
   <wsdl:types>
      <xsd:schema targetNamespace="http://petals.ow2.org/samples/se-bpmn/archiveService">

         <xsd:import namespace="http://petals.ow2.org/samples/se-bpmn/vacationRequest" schemaLocation="vacationRequest.xsd" />

         <xsd:element name="archiveVacationRequest">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="vacationRequest:vacationRequestType">
                     <xsd:sequence>
                        <!-- TODO: replace declaration of vacationRequestId by an element reference when BARE mode will be supported -->
                        <!-- xsd:element ref="vacationRequest:vacationRequestId" minOccurs="1" maxOccurs="1" /-->
                        <xsd:element name="vacationRequestId" type="xsd:string"  minOccurs="1" maxOccurs="1" />
                        <xsd:element name="approved-by" type="xsd:string" minOccurs="1" maxOccurs="1" />
                     </xsd:sequence>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         
         <xsd:element name="okResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="ok" type="xsd:string" minOccurs="1" maxOccurs="1" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         
      </xsd:schema>
   </wsdl:types>
   <!-- ======================== MESSAGES ======================================= -->
   <wsdl:message name="archiveVacationRequest">
      <!-- TODO: JAX-WS Wrapped mode is mandatory. We could be able to work with Bare mode -->
      <wsdl:part name="parameters" element="archiveService:archiveVacationRequest" />
   </wsdl:message>
   <wsdl:message name="okResponse">
      <wsdl:part name="parameters" element="archiveService:okResponse" />
   </wsdl:message>
   <!-- ======================== PORT TYPE (SU jbi.xml interface-name)=============== -->
   <wsdl:portType name="archive">
      <wsdl:operation name="archiveVacationRequest">
         <wsdl:input name="archiveVacationRequest" message="archiveService:archiveVacationRequest" />
         <wsdl:output message="archiveService:okResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <!-- ======================== BINDINGS ======================================= -->
   <wsdl:binding name="archiveSoapBinding" type="archiveService:archive">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="archiveVacationRequest">
         <soap:operation soapAction="http://petals.ow2.org/samples/services/archive" />
         <wsdl:input name="archiveVacationRequest">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <!-- ======================== SERVICE (SU jbi.xml service-name) ============== -->
   <wsdl:service name="archiveService">
      <wsdl:port name="autogenerate" binding="archiveService:archiveSoapBinding">
         <soap:address location="http://localhost:9003/archiveService" />
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>