src/test/resources/su/structured-variable/structured-variable.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2019-2023 Linagora
 
 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 2.1 of the License, or (at your
 option) any later version.
 
 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
 for more details.
 
 You should have received a copy of the GNU Lesser General Public License
 along with this program/library; If not, see http://www.gnu.org/licenses/
 for the GNU Lesser General Public License version 2.1.
-->
<wsdl:definitions
   name="structured-variable"
   targetNamespace="http://petals.ow2.org/se-flowable/unit-test/structured-variable"
   
   xmlns:tns="http://petals.ow2.org/se-flowable/unit-test/structured-variable"
   
   xmlns:bpmn="http://petals.ow2.org/se/flowable/annotations/1.0"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   <wsdl:types>
      <xsd:schema targetNamespace="http://petals.ow2.org/se-flowable/unit-test/structured-variable"
         elementFormDefault="qualified">

         <xsd:element name="start">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="customer" type="xsd:string" minOccurs="1" maxOccurs="1" />
                  <xsd:element name="data" minOccurs="1" maxOccurs="1" type="tns:TData" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

         <xsd:complexType name="TData">
            <xsd:sequence> 
               <xsd:element name="numberOfDays" minOccurs="1" maxOccurs="1" type="xsd:long" />
               <xsd:element name="startDate" minOccurs="1" maxOccurs="1" type="xsd:dateTime" />
               <xsd:element name="vacationMotivation" minOccurs="0" maxOccurs="1" type="xsd:string" />
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="start-response">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="case-file-number" minOccurs="1" maxOccurs="1" type="xsd:string" />
               </xsd:all>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="approve">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="case-file-number" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                  <xsd:element name="approver" minOccurs="1" maxOccurs="1" type="xsd:string" />
                  <xsd:element name="managerMotivation" minOccurs="0" maxOccurs="1" type="xsd:string" />
                  <xsd:element name="vacationApproved" minOccurs="1" maxOccurs="1">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:enumeration id="Approved" value="true" />
                           <xsd:enumeration id="Rejected" value="false" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
               </xsd:all>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="ackResponse">
            <xsd:complexType>
               <xsd:sequence />
            </xsd:complexType>
         </xsd:element>
         
         <xsd:element name="unlock">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="instance-id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                  <xsd:element name="var1" type="xsd:string" minOccurs="1" maxOccurs="1" />
                  <xsd:element name="var2" type="xsd:string" minOccurs="1" maxOccurs="1" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="instanceUnknown">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="instance-id" type="xsd:string" minOccurs="1" maxOccurs="1" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="notLocked">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="instance-id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                  <xsd:element name="event-name" type="xsd:string" minOccurs="1" maxOccurs="1" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="alreadyUnlocked">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="instance-id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                  <xsd:element name="event-name" type="xsd:string" minOccurs="1" maxOccurs="1" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

      </xsd:schema>
   </wsdl:types>

   <wsdl:message name="start">
      <wsdl:part name="parameters" element="tns:start" />
   </wsdl:message>
   <wsdl:message name="start-response">
      <wsdl:part name="parameters" element="tns:start-response" />
   </wsdl:message>
   <wsdl:message name="approve">
      <wsdl:part name="parameters" element="tns:approve" />
   </wsdl:message>
   <wsdl:message name="validationAck">
      <wsdl:part name="parameters" element="tns:ackResponse" />
   </wsdl:message>
   <wsdl:message name="unlock">
      <wsdl:part name="parameters" element="tns:unlock" />
   </wsdl:message>
   <wsdl:message name="instanceUnknown">
      <wsdl:part name="fault" element="tns:instanceUnknown" />
   </wsdl:message>
   <wsdl:message name="notLocked">
      <wsdl:part name="fault" element="tns:notLocked" />
   </wsdl:message>
   <wsdl:message name="alreadyUnlocked">
      <wsdl:part name="fault" element="tns:alreadyUnlocked" />
   </wsdl:message>

   <wsdl:portType name="structured-variable">
      <wsdl:operation name="start">
         <wsdl:input message="tns:start" />
         <wsdl:output message="tns:start-response" />
      </wsdl:operation>
      <wsdl:operation name="approve">
         <wsdl:input message="tns:approve" />
         <wsdl:output message="tns:ackResponse" />
      </wsdl:operation>
      <wsdl:operation name="unlock">
         <wsdl:input message="tns:unlock" />
         <wsdl:fault message="tns:instanceUnknown" name="instanceUnknown" />
         <wsdl:fault message="tns:notLocked" name="notLocked" />
         <wsdl:fault message="tns:alreadyUnlocked" name="alreadyUnlocked" />
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="structuredVariableBinding" type="tns:structured-variable">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="start">
         <soap:operation soapAction="http://petals.ow2.org/se-flowable/unit-test/structured-variable/start" />
         <bpmn:operation processDefinitionId="structured-variable" action="startEvent" none-start-event-id="startevent" />
         <bpmn:variable name="request" json-virtual-root="tns:data">/*[local-name()='start']/*[local-name()='data']</bpmn:variable>
         <bpmn:output>startResponse.xsl</bpmn:output>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="approve">
         <soap:operation soapAction="http://petals.ow2.org/samples/se-bpmn/approve" />
         <bpmn:operation processDefinitionId="structured-variable" action="userTask" user-task-id="handleRequest" />
         <bpmn:processInstanceId>/*[local-name()='approve']/*[local-name()='case-file-number']</bpmn:processInstanceId>
         <bpmn:userId>/*[local-name()='approve']/*[local-name()='approver']</bpmn:userId>
         <bpmn:variable name="approvementStatus" json-virtual-root="tns:approve">/*[local-name()='approve']</bpmn:variable>
         <bpmn:output>approveRequestResponse.xsl</bpmn:output>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="unlock">
         <soap:operation soapAction="http://petals.ow2.org/se-flowable/unit-test/structured-variable/unlock" />
         <bpmn:operation processDefinitionId="structured-variable" action="intermediateMessageCatch" message-event-name="myMessageName" />
         <bpmn:processInstanceId>/*[local-name()='unlock']/*[local-name()='instance-id']</bpmn:processInstanceId>
         <bpmn:variable name="variable1" type="json" json-virtual-root="tns:unlock">/*[local-name()='unlock']</bpmn:variable>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:fault name="instanceUnknown">
            <bpmn:fault name="ProcessInstanceNotFoundException">instanceUnknown.xsl</bpmn:fault>
            <soap:fault name="instanceUnknown" use="literal" />
         </wsdl:fault>
         <wsdl:fault name="notLocked">
            <bpmn:fault name="UnexpectedMessageEventException">unexpectedMessageEvent.xsl</bpmn:fault>
            <soap:fault name="notLocked" use="literal" />
         </wsdl:fault>
         <wsdl:fault name="alreadyUnlocked">
            <bpmn:fault name="ProcessInstanceEndedException">messageEventReceived.xsl</bpmn:fault>
            <soap:fault name="alreadyUnlocked" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="structured-variable-service">
      <wsdl:port name="edpStructuredVariable" binding="tns:structuredVariableBinding">
         <soap:address location="http://localhost:9003/structured-variable" />
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>
