src/test/resources/su/vacation/vacationRequest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2014-2020 Linagora
 
 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 2.1 of the License, or (at your
 option) any later version.
 
 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
 for more details.
 
 You should have received a copy of the GNU Lesser General Public License
 along with this program/library; If not, see http://www.gnu.org/licenses/
 for the GNU Lesser General Public License version 2.1.
-->
<wsdl:definitions name="demandeDeCongesService" targetNamespace="http://petals.ow2.org/se-flowable/unit-test/vacation/vacationService"
   xmlns:tns="http://petals.ow2.org/se-flowable/unit-test/vacation/vacationService" xmlns:bpmn="http://petals.ow2.org/se/flowable/annotations/1.0"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   <wsdl:types>
      <xsd:schema targetNamespace="http://petals.ow2.org/se-flowable/unit-test/vacation/vacationService" elementFormDefault="qualified">
         <xsd:element name="jira_PETALSSEACTIVITI-4">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="demandeur" minOccurs="1" maxOccurs="1" type="xsd:string" />
                  <xsd:element name="nbJourDde" minOccurs="1" maxOccurs="1" type="xsd:string" />
               </xsd:all>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="demande">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="demandeur" minOccurs="1" maxOccurs="1" type="xsd:string" />
                  <xsd:element name="nbJourDde" minOccurs="1" maxOccurs="1" type="xsd:long" />
                  <xsd:element name="DateDebutDde" minOccurs="1" maxOccurs="1" type="xsd:dateTime" />
                  <xsd:element name="motifDde" minOccurs="0" maxOccurs="1" type="xsd:string" />
               </xsd:all>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="numeroDde" type="xsd:string" />

         <xsd:element name="numero">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element ref="tns:numeroDde" minOccurs="1" maxOccurs="1" />
                  <xsd:element ref="tns:xsl-parameter" minOccurs="0" maxOccurs="unbounded" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="erreur">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="utilisateur" minOccurs="1" maxOccurs="1" type="xsd:string" />
                  <xsd:element ref="tns:numeroDde" minOccurs="1" maxOccurs="1" />
                  <xsd:element name="message" minOccurs="1" maxOccurs="1" type="xsd:string" />
               </xsd:all>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="validation">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element ref="tns:numeroDde" minOccurs="1" maxOccurs="1" />
                  <xsd:element name="valideur" minOccurs="1" maxOccurs="1" type="xsd:string" />
                  <xsd:element name="motifRefus" minOccurs="0" maxOccurs="1" type="xsd:string" />
                  <xsd:element name="approbation" minOccurs="1" maxOccurs="1">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:enumeration id="Approuvee" value="true" />
                           <xsd:enumeration id="Rejetee" value="false" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
               </xsd:all>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="ajustement">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="numeroDdeInitiale" minOccurs="1" maxOccurs="1" type="xsd:string" />
                  <xsd:element name="demandeur" minOccurs="1" maxOccurs="1" type="xsd:string" />
                  <xsd:element name="nbJourNouvelleDde" minOccurs="1" maxOccurs="1" type="xsd:long" />
                  <xsd:element name="DateDebutNouvelleDde" minOccurs="1" maxOccurs="1" type="xsd:dateTime" />
                  <xsd:element name="motifNouvelleDde" minOccurs="0" maxOccurs="1" type="xsd:string" />
                  <xsd:element name="soumettreModif" minOccurs="1" maxOccurs="1">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:enumeration id="Renvoyee" value="true" />
                           <xsd:enumeration id="Annulee" value="false" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
               </xsd:all>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="xsl-parameter">
            <xsd:complexType>
               <xsd:simpleContent>
                  <xsd:extension base="xsd:string">
                     <xsd:attribute name="name" type="xsd:string" />
                  </xsd:extension>
               </xsd:simpleContent>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="ackResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element ref="tns:xsl-parameter" minOccurs="0" maxOccurs="unbounded" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="numeroDemandeInconnu">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element ref="tns:numeroDde" minOccurs="1" maxOccurs="1" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

         <xsd:element name="demandeDejaValidee">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element ref="tns:numeroDde" minOccurs="1" maxOccurs="1" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

      </xsd:schema>
   </wsdl:types>

   <wsdl:message name="jira_PETALSSEACTIVITI-4">
      <wsdl:part name="parameters" element="tns:jira_PETALSSEACTIVITI-4" />
   </wsdl:message>
   <wsdl:message name="demandeConges">
      <wsdl:part name="parameters" element="tns:demande" />
   </wsdl:message>
   <wsdl:message name="numeroDemande">
      <wsdl:part name="parameters" element="tns:numero" />
   </wsdl:message>
   <wsdl:message name="faute">
      <wsdl:part name="parameters" element="tns:erreur" />
   </wsdl:message>
   <wsdl:message name="validationDdeConges">
      <wsdl:part name="parameters" element="tns:validation" />
   </wsdl:message>
   <wsdl:message name="validationAck">
      <wsdl:part name="parameters" element="tns:ackResponse" />
   </wsdl:message>
   <wsdl:message name="ajustementConges">
      <wsdl:part name="parameters" element="tns:ajustement" />
   </wsdl:message>
   <wsdl:message name="numeroDemandeInconnu">
      <wsdl:part name="fault" element="tns:numeroDemandeInconnu" />
   </wsdl:message>
   <wsdl:message name="demandeDejaValidee">
      <wsdl:part name="fault" element="tns:demandeDejaValidee" />
   </wsdl:message>

   <wsdl:portType name="demandeDeConges">
      <wsdl:operation name="jira_PETALSSEACTIVITI-4">
         <wsdl:input message="tns:jira_PETALSSEACTIVITI-4" />
         <wsdl:output message="tns:numeroDemande" />
      </wsdl:operation>
      <wsdl:operation name="demanderConges">
         <wsdl:input message="tns:demandeConges" />
         <wsdl:output message="tns:numeroDemande" />
      </wsdl:operation>
      <wsdl:operation name="validerDemande">
         <wsdl:input message="tns:validationDdeConges" />
         <wsdl:output message="tns:validationAck" />
         <wsdl:fault message="tns:demandeDejaValidee" name="demandeDejaValidee" />
         <wsdl:fault message="tns:numeroDemandeInconnu" name="numeroDemandeInconnu" />
      </wsdl:operation>
      <wsdl:operation name="ajusterDemande">
         <wsdl:input message="tns:ajustementConges" />
         <wsdl:output message="tns:numeroDemande" />
         <wsdl:fault message="tns:numeroDemandeInconnu" name="numeroDemandeInconnu" />
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="demandeDeCongesBinding" type="tns:demandeDeConges">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="jira_PETALSSEACTIVITI-4">
         <soap:operation soapAction="http://petals.ow2.org/samples/se-bpmn/jira_PETALSSEACTIVITI-4" />
         <bpmn:operation processDefinitionId="jira_PETALSSEACTIVITI-4" action="startEvent"
            none-start-event-id="jira_4_Request" />
         <bpmn:userId>/*[local-name()='jira_PETALSSEACTIVITI-4']/*[local-name()='demandeur']</bpmn:userId>
         <bpmn:variable name="numberOfDays">
            /*[local-name()='jira_PETALSSEACTIVITI-4']/*[local-name()='nbJourDde']
         </bpmn:variable>
         <bpmn:output>
            demanderCongesResponse.xsl
         </bpmn:output>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="demanderConges">
         <soap:operation soapAction="http://petals.ow2.org/samples/se-bpmn/demanderConges" />
         <bpmn:operation processDefinitionId="vacationRequest" action="startEvent" none-start-event-id="request" />
         <bpmn:userId>/*[local-name()='demande']/*[local-name()='demandeur']</bpmn:userId>
         <bpmn:variable name="numberOfDays">
            /*[local-name()='demande']/*[local-name()='nbJourDde']
         </bpmn:variable>
         <bpmn:variable name="startDate">
            /*[local-name()='demande']/*[local-name()='DateDebutDde']
         </bpmn:variable>
         <bpmn:variable name="vacationMotivation">
            /*[local-name()='demande']/*[local-name()='motifDde']
         </bpmn:variable>
         <bpmn:output>
            demanderCongesResponse.xsl
         </bpmn:output>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="validerDemande">
         <soap:operation soapAction="http://petals.ow2.org/samples/se-bpmn/validerDemande" />
         <bpmn:operation processDefinitionId="vacationRequest" action="userTask" user-task-id="handleRequest" />
         <bpmn:processInstanceId>/*[local-name()='validation']/*[local-name()='numeroDde']</bpmn:processInstanceId>
         <bpmn:userId>/*[local-name()='validation']/*[local-name()='valideur']</bpmn:userId>
         <bpmn:variable name="vacationApproved">
            /*[local-name()='validation']/*[local-name()='approbation']
         </bpmn:variable>
         <bpmn:variable name="managerMotivation">
            /*[local-name()='validation']/*[local-name()='motifRefus']
         </bpmn:variable>
         <bpmn:output>
            validerDemandeResponse.xsl
         </bpmn:output>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="numeroDemandeInconnu">
            <bpmn:fault name="ProcessInstanceNotFoundException">numeroDemandeInconnu.xsl</bpmn:fault>
            <soap:fault name="numeroDemandeInconnu" use="literal" />
         </wsdl:fault>
         <wsdl:fault name="demandeDejaValidee">
            <bpmn:fault name="TaskCompletedException">demandeDejaValidee.xsl</bpmn:fault>
            <soap:fault name="demandeDejaValidee" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ajusterDemande">
         <soap:operation soapAction="http://petals.ow2.org/samples/se-bpmn/ajusterDemande" />
         <bpmn:operation processDefinitionId="vacationRequest" action="userTask" user-task-id="adjustVacationRequestTask" />
         <bpmn:processInstanceId>/*[local-name()='ajustement']/*[local-name()='numeroDdeInitiale']
         </bpmn:processInstanceId>
         <bpmn:userId>/*[local-name()='ajustement']/*[local-name()='demandeur']</bpmn:userId>
         <bpmn:variable name="numberOfDays">
            /*[local-name()='ajustement']/*[local-name()='nbJourNouvelleDde']
         </bpmn:variable>
         <bpmn:variable name="startDate">
            /*[local-name()='ajustement']/*[local-name()='DateDebutNouvelleDde']
         </bpmn:variable>
         <bpmn:variable name="vacationMotivation">
            /*[local-name()='ajustement']/*[local-name()='motifNouvelleDde']
         </bpmn:variable>
         <bpmn:variable name="resendRequest">
            /*[local-name()='ajustement']/*[local-name()='soumettreModif']
         </bpmn:variable>
         <bpmn:output>
            ajusterDemandeResponse.xsl
         </bpmn:output>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="numeroDemandeInconnu">
            <bpmn:fault name="ProcessInstanceNotFoundException">numeroDemandeInconnu.xsl</bpmn:fault>
            <soap:fault name="numeroDemandeInconnu" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="demandeDeCongesService">
      <wsdl:port name="testEndpointName" binding="tns:demandeDeCongesBinding">
         <soap:address location="http://localhost:9003/demandeDeConges" />
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>
