src/test/resources/parser/intermediate-message-catch-event.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2014-2020 Linagora
 
 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 2.1 of the License, or (at your
 option) any later version.
 
 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
 for more details.
 
 You should have received a copy of the GNU Lesser General Public License
 along with this program/library; If not, see http://www.gnu.org/licenses/
 for the GNU Lesser General Public License version 2.1.
-->
<wsdl:definitions name="demandeDeCongesService" targetNamespace="http://petals.ow2.org/se-flowable/unit-test/parser"
   xmlns:tns="http://petals.ow2.org/se-flowable/unit-test/parser" xmlns:bpmn="http://petals.ow2.org/se/flowable/annotations/1.0"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   <wsdl:types>
      <xsd:schema targetNamespace="http://petals.ow2.org/se-flowable/unit-test/parser" elementFormDefault="qualified">
         <xsd:element name="demande">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="demandeur" minOccurs="1" maxOccurs="1" type="xsd:string" />
                  <xsd:element name="nbJourDde" minOccurs="1" maxOccurs="1" type="xsd:long" />
                  <xsd:element name="DateDebutDde" minOccurs="1" maxOccurs="1" type="xsd:dateTime" />
                  <xsd:element name="motifDde" minOccurs="0" maxOccurs="1" type="xsd:string" />
               </xsd:all>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>

   <wsdl:message name="demandeConges">
      <wsdl:part name="parameters" element="tns:demande" />
   </wsdl:message>

   <wsdl:portType name="demandeDeConges">
      <wsdl:operation name="eventReceived__missingAttr">
         <wsdl:input message="tns:demandeConges" />
      </wsdl:operation>
      <wsdl:operation name="eventReceived__emptyAttr">
         <wsdl:input message="tns:demandeConges" />
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="demandeDeCongesBinding" type="tns:demandeDeConges">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="valid">
         <soap:operation soapAction="http://petals.ow2.org/se-flowable/1.0/handleRequest" />
         <bpmn:operation processDefinitionId="intermediate-message-catch-event-process" action="intermediateMessageCatch" message-event-name="messageName"/>
         <bpmn:processInstanceId>/*[local-name()='validation']/*[local-name()='numeroDde']</bpmn:processInstanceId>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="valid_withValidVariables">
         <soap:operation soapAction="http://petals.ow2.org/se-flowable/1.0/handleRequest" />
         <bpmn:operation processDefinitionId="intermediate-message-catch-event-process" action="intermediateMessageCatch" message-event-name="messageName"/>
         <bpmn:processInstanceId>/*[local-name()='validation']/*[local-name()='numeroDde']</bpmn:processInstanceId>
         <bpmn:variable name="variable-1" type="string">/*[local-name()='unlock']/*[local-name()='var-1']</bpmn:variable>
         <bpmn:variable name="variable-2" type="string">/*[local-name()='unlock']/*[local-name()='var-2']</bpmn:variable>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="eventReceived_attrMsgEventNameMissing">
         <soap:operation soapAction="http://petals.ow2.org/se-flowable/1.0/handleRequest" />
         <bpmn:operation processDefinitionId="intermediate-message-catch-event-process" action="intermediateMessageCatch" />
         <bpmn:processInstanceId>/*[local-name()='validation']/*[local-name()='numeroDde']</bpmn:processInstanceId>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="eventReceived_attrMsgEventNameEmpty">
         <soap:operation soapAction="http://petals.ow2.org/se-flowable/1.0/handleRequest" />
         <bpmn:operation processDefinitionId="intermediate-message-catch-event-process" action="intermediateMessageCatch" message-event-name="" />
         <bpmn:processInstanceId>/*[local-name()='validation']/*[local-name()='numeroDde']</bpmn:processInstanceId>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="eventReceived_eventUnknown">
         <soap:operation soapAction="http://petals.ow2.org/se-flowable/1.0/handleRequest" />
         <bpmn:operation processDefinitionId="intermediate-message-catch-event-process" action="intermediateMessageCatch"  message-event-name="unknown"/>
         <bpmn:processInstanceId>/*[local-name()='validation']/*[local-name()='numeroDde']</bpmn:processInstanceId>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="eventReceived_procDefIdMissing">
         <soap:operation soapAction="http://petals.ow2.org/se-flowable/1.0/handleRequest" />
         <bpmn:operation action="intermediateMessageCatch" message-event-name="messageintermediatecatchevent1"/>
         <bpmn:processInstanceId>/*[local-name()='validation']/*[local-name()='numeroDde']</bpmn:processInstanceId>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="eventReceived_procDefIdEmpty">
         <soap:operation soapAction="http://petals.ow2.org/se-flowable/1.0/handleRequest" />
         <bpmn:operation processDefinitionId="" action="intermediateMessageCatch" message-event-name="messageintermediatecatchevent1" />
         <bpmn:processInstanceId>/*[local-name()='validation']/*[local-name()='numeroDde']</bpmn:processInstanceId>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="eventReceived_procInstIdMissing">
         <soap:operation soapAction="http://petals.ow2.org/se-flowable/1.0/handleRequest" />
         <bpmn:operation processDefinitionId="intermediate-message-catch-event-process" action="intermediateMessageCatch" message-event-name="messageName"/>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="eventReceived_procInstIdNoValue">
         <soap:operation soapAction="http://petals.ow2.org/se-flowable/1.0/handleRequest" />
         <bpmn:operation processDefinitionId="intermediate-message-catch-event-process" action="intermediateMessageCatch" message-event-name="messageName" />
         <bpmn:processInstanceId/>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="eventReceived_procInstIdEmpty">
         <soap:operation soapAction="http://petals.ow2.org/se-flowable/1.0/handleRequest" />
         <bpmn:operation processDefinitionId="intermediate-message-catch-event-process" action="intermediateMessageCatch" message-event-name="messageName" />
         <bpmn:processInstanceId></bpmn:processInstanceId>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="eventReceived_withInvalidVariable">
         <soap:operation soapAction="http://petals.ow2.org/se-flowable/1.0/handleRequest" />
         <bpmn:operation processDefinitionId="intermediate-message-catch-event-process" action="intermediateMessageCatch" message-event-name="messageName"/>
         <bpmn:processInstanceId>/*[local-name()='validation']/*[local-name()='numeroDde']</bpmn:processInstanceId>
         <bpmn:variable name="variable-1" type="string">/*[local-name()='unlock']/*[local-name()='var-1']</bpmn:variable>
         <bpmn:variable name="variable-2">/*[local-name()='unlock']/*[local-name()='var-2']</bpmn:variable>
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="demandeDeCongesService">
      <wsdl:port name="autogenerate" binding="tns:demandeDeCongesBinding">
         <soap:address location="http://localhost:9003/demandeDeConges" />
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>
